body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

#header,
#footer {
    background: #029ef3;
}

ul#main-menu {
    text-align: center;
}

ul#main-menu li {
    display: inline-block;
}

ul#main-menu li a {
    padding: 8px 15px;
    display: block;
    color: #fff;
    text-decoration: none;
}

#content {
    min-height: 700px;
    padding: 20px 0;
}

ul.list_post li {
    padding: 20px 0px;
    border-bottom: 1px dashed #eaa3a3;
}

.post-title {
    font-weight: bold;
    font-size: 14px;
}

#footer {
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
