* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

header {
    background: orange;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    background: grey;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background: orange;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
